@model Nop.Web.Models.Common.SocialModel

<ul class="networks">	
	@if (!string.IsNullOrEmpty(Model.InstagramLink))
	{
		<li><a href="@Model.InstagramLink" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
	}
	@if (!string.IsNullOrEmpty(Model.FacebookLink))
	{
		<li><a href="@Model.FacebookLink" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
	}
	@if (!string.IsNullOrEmpty(Model.TwitterLink))
	{
		<li><a href="@Model.TwitterLink" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
	}
	@if (!string.IsNullOrEmpty(Model.YoutubeLink))
	{
		<li><a href="@Model.YoutubeLink" target="_blank"><i class="fa fa-youtube" aria-hidden="true"></i></a></li>
	}
	@if (!string.IsNullOrEmpty(Model.GooglePlusLink))
	{
		<li><a href="@Model.GooglePlusLink" target="_blank"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
	}
	@if (!string.IsNullOrEmpty(Model.VKLink))
	{
		<li><a href="@Model.VKLink" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
	}
</ul>