@using Nop.Web.Framework
@model List<Nop.Plugin.Misc.SMS.Domain.SMSMessage>
@using (Html.BeginForm("Messages", "SMS", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">@T("Plugins.Misc.SMS.MessageName.Hint")</div>
            <div class="panel-body">
                @for (int i = 0; i< Model.Count;i++)
                {

                    <div class="form-group col-md-12">
                        @Html.HiddenFor(model => Model[i].Id)
                    <div class="col-md-3">
                        @if (Model[i].IsforAdmin)
                        {
                            <text>For ADMIN</text>
                        }
                        @Html.NopDisplayFor(model => Model[i].Name)
                        @Html.HiddenFor(model => model[i].Name)
                        @Html.HiddenFor(model => Model[i].EventType)
                    </div>
                    <div class="col-md-6">
                        @Html.NopEditorFor(model => Model[i].MessageText)
                        @Html.ValidationMessageFor(model => Model[i].MessageText)
                    </div>
                    <div class="col-md-3">
                        <div class="checkbox text-left">
                            @Html.EditorFor(model => Model[i].Enabled)
                            @Html.ValidationMessageFor(model => Model[i].Enabled, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                }
                <div class="form-group">
                    <div class="col-md-3">
                        &nbsp;
                    </div>
                    <div class="col-md-9">
                        <input type="submit" name="save" class="btn bg-blue" value="save"/>
                    </div>
                </div>
            </div>
        </div>
    </div>
}