@model Nop.Plugin.Mapping.Categories.Models.ConfigurationModel
@using Nop.Web.Framework

@{
	Layout = "";
}
<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-body">

			@foreach (var c in Model.MappedCategories)
			{
				<div class="form-group col-md-12">
					<div class="row">
						<div class="col-md-9">
							<ul class="list-group">
								<li class="list-group-item">
									<h3>@c.OriginalCategory.Name <span class="label label-default">@c.MappedCategoriesRow.Count</span></h3>
								</li>

								@foreach (var mcr in c.MappedCategoriesRow)
								{
									<li class="list-group-item">
										@using (Html.BeginForm())
										{
											@Html.ValidationSummary(true);
											@Html.AntiForgeryToken();
											<span>@mcr.GoupKey | @mcr.ExternalCategoryId</span>
											<input type="hidden" id="externalCategoryId" name="externalCategoryId" value="@mcr.ExternalCategoryId" />
											<input type="hidden" id="goupKey" name="goupKey" value="@mcr.GoupKey" />

											<button class="btn btn-danger btn-xs" type="submit" name="remove">Remove</button>
										}
									</li>
								}
								<li class="list-group-item">
									@using (Html.BeginForm())
									{
										@Html.ValidationSummary(true);
										@Html.AntiForgeryToken();
										<div class="form-inline">
											<input type="hidden" name="originalCategoryId" id="originalCategoryId" value="@c.OriginalCategory.Id" />
											<div class="form-group">
												<input type="text" class="form-control" id="goupKey" name="goupKey" placeholder="External group name">
												<input type="text" class="form-control" id="externalCategoryId" name="externalCategoryId" placeholder="External Category ID">

												<button class="btn btn-primary" type="submit" name="save">Add new</button>
											</div>
										</div>
									}
								</li>
							</ul>

						</div>
					</div>
				</div>
			}
		</div>
	</div>
</div>