@model Nop.Plugin.Misc.QuickOrder.Models.ConfigurationModel
@using Nop.Web.Framework

@{
    Layout = "";
}
<div class="content">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-horizontal">
            @Html.ValidationSummary(false)
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading"><h5><strong>@T("Plugins.Misc.QuickOrder.ConfigurationPage")</strong></h5></div>
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(m => m.Enabled)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(m => m.Enabled)
                                @Html.ValidationMessageFor(m => m.Enabled)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(m => m.NameEnabled)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(m => m.NameEnabled)
                                @Html.ValidationMessageFor(m => m.NameEnabled)
                            </div>
                        </div>
                        <div class="form-group" id="pnlNameRequired">
                            <div class="col-md-3">
                                @Html.NopLabelFor(m => m.NameRequired)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(m => m.NameRequired)
                                @Html.ValidationMessageFor(m => m.NameRequired)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(m => m.PhoneEnabled)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(m => m.PhoneEnabled)
                                @Html.ValidationMessageFor(m => m.PhoneEnabled)
                            </div>
                        </div>
                        <div class="form-group" id="pnlPhoneRequired">
                            <div class="col-md-3">
                                @Html.NopLabelFor(m => m.PhoneRequired)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(m => m.PhoneRequired)
                                @Html.ValidationMessageFor(m => m.PhoneRequired)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(m => m.EmailAddressEnabled)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(m => m.EmailAddressEnabled)
                                @Html.ValidationMessageFor(m => m.EmailAddressEnabled)
                            </div>
                        </div>
                        <div class="form-group" id="pnlEmailAddressRequired">
                            <div class="col-md-3">
                                @Html.NopLabelFor(m => m.EmailAddressRequired)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(m => m.EmailAddressRequired)
                                @Html.ValidationMessageFor(m => m.EmailAddressRequired)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group">
                            <div class="col-md-3">
                                @Html.NopLabelFor(m => m.WidgetZone)
                            </div>
                            <div class="col-md-9">
                                @Html.NopDropDownListFor(model => model.WidgetZone, Model.AvailableWidgets)
                                @Html.ValidationMessageFor(m => m.WidgetZone)
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-9 col-md-offset-3">
                        <input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
                    </div>
                </div>
            </div>
        </div>
    }
</div>