@model Nop.Plugin.Order.QuickOrder.Models.QOrderModel
@using System
@using Nop.Web.Framework
@using Nop.Web.Framework.UI

<div class="form-horizontal">
	@using (@Html.BeginForm())
	{
		@Html.AntiForgeryToken()

		@Html.ValidationSummary(true)
		<div class="quick-order">
			<div class="form-fields">
				@if (Model.NameEnable)
				{
					<div class="inputs">
						@Html.LabelFor(model => model.CustomerName, new { }, ":")
						@Html.TextBoxFor(model => model.CustomerName, new { @class = "username", autofocus = "autofocus", @style = "font-size:initial" })
						@Html.ValidationMessageFor(model => model.CustomerName)
					</div>
				}
				@if (Model.EmailEnable)
				{
					<div class="inputs">
						@Html.LabelFor(model => model.CustomerEmail, new { }, ":")
						@Html.TextBoxFor(model => model.CustomerEmail, new { @class = "mail", autofocus = "autofocus", @style = "font-size:initial" })
						@Html.ValidationMessageFor(model => model.CustomerEmail)
					</div>
				}
				@if (Model.PhoneEnable)
				{
					<div class="inputs">
						@Html.LabelFor(model => model.CustomerPhone, new { }, ":")
						@Html.TextBoxFor(model => model.CustomerPhone, new { @class = "phone", autofocus = "autofocus", @style = "font-size:initial" })
						@Html.ValidationMessageFor(model => model.CustomerPhone)
					</div>
				}
			</div>
		</div>
		<div class="inputs">
			<button type="submit" class="button-1 checkout-button" style="margin-left:30px">@T("Plugins.Order.QuickOrder.Button")</button>
		</div>
			}
</div>