@using Nop.Web.Framework
@using Nop.Web.Framework.UI
@using Nop.Web.Framework.Mvc
@using Nop.Plugin.Misc.SMS.Domain;
@model Nop.Plugin.Misc.SMS.Domain.SMSProvider

@{
    Layout = "_AdminLayout.cshtml";
}
<h2>@T("Plugins.Misc.SMS.ConfigurationPage")</h2>

        @using (Html.BeginForm("Manage", "SMS", FormMethod.Post))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-body">
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Enabled)
                            </div>
                            <div class="col-md-9">
                                <div class="checkbox text-left">
                                    @Html.EditorFor(model => model.Enabled)
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Login)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Login)
                                @Html.ValidationMessageFor(model => model.Login)
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Password)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Password)
                                @Html.ValidationMessageFor(model => model.Password)
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.Api)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.Api)
                                @Html.ValidationMessageFor(model => model.Api)
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AlfaName)
                            </div>
                            <div class="col-md-6">
                                @Html.NopEditorFor(model => model.AlfaName)
                                @Html.ValidationMessageFor(model => model.AlfaName)
                            </div>
                            <div class="col-md-3">
                                <div class="checkbox text-left">
                                    @Html.EditorFor(model => model.EnableAlfaName)
                                </div>
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.AdminPhoneNumber)
                            </div>
                            <div class="col-md-9">
                                @Html.NopEditorFor(model => model.AdminPhoneNumber)
                                @Html.ValidationMessageFor(model => model.AdminPhoneNumber)
                            </div>
                        </div>
                        <div class="form-group col-md-12">
                            <div class="col-md-3">
                                @Html.NopLabelFor(model => model.LastConfigurationDate)
                            </div>
                            <div class="col-md-9">
                                @Html.DisplayFor(model => model.LastConfigurationDate)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-3">
                                &nbsp;
                            </div>
                            <div class="col-md-9">
                                <input type="submit" name="save" class="btn bg-blue" value="save" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }

        @Html.Action("MessagesPartial", "SMS");
