@model List<Nop.Plugin.Misc.SMS.Models.SMSMessageViewModel>
@using Nop.Web
@using Nop.Web.Framework
@using Nop.Plugin.Misc.SMS.Models
@using Nop.Plugin.Misc.SMS.Extensions

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-heading"><h5><strong>@T("Plugins.Misc.SMS.Messages.Hint")</strong></h5></div>
			<div class="panel-body">
				@for(int i = 0; i < Model.Count; i++)
				{
					var editorId = string.Format("sms-editor-{0}", Model[i].Id);
					<div class="form-group col-md-12">
						@Html.HiddenFor(model => Model[i].Id)
                        <div class="col-md-3">
                            @T(Model[i].Name)
                            <div class="col-md-12">
                                <div class="col-md-6">
                            @Html.LabelFor(ConfigurationModel => Model[i].Enabled)
                                    </div>
                            <div class="col-md-3 checkbox">
                                @Html.EditorFor(model => Model[i].Enabled)
                                @Html.ValidationMessageFor(model => Model[i].Enabled, "", new { @class = "text-danger" })
                            </div>
                        </div>
							@Html.HiddenFor(model => Model[i].Name)
							@Html.HiddenFor(model => Model[i].EventType)
						</div>

						<div class="col-md-6">
							@(Html.LocalizedEditor<SMSMessageViewModel, SMSMessageViewModel.SMSMessageLocalizedModel>(
							@editorId,
							@<div>
								@Html.NopTextAreaFor(model => Model[i].Locales[item].MessageText)
								@Html.ValidationMessageFor(model => Model[i].Locales[item].MessageText)
								@Html.HiddenFor(model => Model[i].Locales[item].LanguageId)
							</div>,
							@<div>
								@Html.NopTextAreaFor(model => Model[i].MessageText)
								@Html.ValidationMessageFor(model => Model[i].MessageText)
							</div>, true))
						</div>
					</div>
				}
				<div class="form-group">
					<div class="col-md-3">
						&nbsp;
					</div>
					<div class="col-md-9">
						<input type="submit" name="savemessages" class="btn bg-blue" value="@T("Admin.Common.Save")" />
					</div>
				</div>
			</div>
		</div>
	</div>
}