@model List<Nop.Plugin.Import.ItLink.Models.CategoriesMappingViewModel>
@using Nop.Web.Framework
@{
	Layout = "";
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()
	<div class="panel panel-default">
		<div class="panel-heading"><h5><strong>@T("Plugins.Imort.ItLink.CategoriesMapping")</strong></h5>
			<a href="@Url.Action("DownloadExternalCategories", "ImportItLink")">DownloadExternalCategories</a>
		</div>
		<div class="panel-body">
			<div class="container">
				<table class="table table-bordered">
					<thead>
						<tr>
							<th colspan="2"><h3>@T("Plugins.Imort.ItLink.CategoriesMapping.ExternalResource")</h3></th>
							<th><h3>@T("Plugins.Imort.ItLink.CategoriesMapping.Nopcommerce")</h3></th>
						</tr>
					</thead>
					<tbody>
						@for (int i = 0; i < Model.Count; i++)
				{
							<tr>
								@Html.HiddenFor(model => Model[i].Id)
								<td>
									@Html.DisplayFor(model => Model[i].ExternalId)
								</td>
								<td>
									@Html.DisplayFor(model => Model[i].ExternalName)
								</td>
								<td>
									@Html.DropDownListFor(model => Model[i].InternalId, Model[i].InternalCategoriesSelectList)
								</td>
							</tr>
				}
					</tbody>
				</table>
				<div class="form-group">
					<div class="col-md-3">
						&nbsp;
					</div>
					<div class="col-md-9">
						<input type="submit" name="savemessages" class="btn bg-blue" value="@T("Admin.Common.Save")" />
					</div>
				</div>
			</div>
		</div>
	</div>
}
@*<script type="text/javascript">
$("#myLink").click(function(e){

    e.preventDefault();
    $.ajax({

        url:$(this).attr("href"), // comma here instead of semicolon
        success: function(){
        alert("Value Added");  // or any other indication if you want to show
		$(this).hide();
}
    });
	});
	</script>*@