@model Nop.Plugin.Import.ItLink.Models.ConfigurationModel
@using Nop.Web.Framework

@{
	Layout = "";
}

@using (Html.BeginForm())
{
	@Html.ValidationSummary(true)

	@Html.AntiForgeryToken()

	<div class="panel-group">
		<div class="panel panel-default">
			<div class="panel-body">
				<div class="form-group col-md-12">
					<div class="col-md-3">
						@Html.NopLabelFor(model => model.XmlUrl)
					</div>
					<div class="col-md-9">
						@Html.NopEditorFor(model => model.XmlUrl)
						@Html.ValidationMessageFor(model => model.XmlUrl)
					</div>
				</div>

				<div class="form-group col-md-12">
					<div class="col-md-3">
						@Html.NopLabelFor(model => model.Username)
					</div>
					<div class="col-md-9">
						@Html.NopEditorFor(model => model.Username)
						@Html.ValidationMessageFor(model => model.Username)
					</div>
				</div>

				<div class="form-group col-md-12">
					<div class="col-md-3">
						@Html.NopLabelFor(model => model.Password)
					</div>
					<div class="col-md-9">
						@Html.NopEditorFor(model => model.Password)
						@Html.ValidationMessageFor(model => model.Password)
					</div>
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-3">
					&nbsp;
				</div>
				<div class="col-md-9">
					<input type="submit" name="save" class="btn bg-blue" value="@T("Admin.Common.Save")" />
				</div>
			</div>
		</div>
	</div>
}

<div class="panel-group">
	<div class="panel panel-default">
		<div class="panel-body">

			<div class="form-group">
				<div class="col-md-3">
					<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#categoriesMappingModal">
						@T("Plugins.Import.ItLink.MatchCategoriesButton")
					</button>

					<!-- Modal -->
					<div id="categoriesMappingModal" class="modal fade" role="dialog">
						<div class="modal-dialog">
							@using (Html.BeginForm())
							{
								@Html.AntiForgeryToken()
								<div class="modal-content"></div>
							}
						</div>
					</div>
				</div>
				<div class="col-md-9">
					@T("Plugins.Import.ItLink.MapCategoriesPrompt")
				</div>
			</div>

			@*@using (Html.BeginForm())
				{
					@Html.ValidationSummary(true)

					@Html.AntiForgeryToken()*@
			<div class="form-group">
				<div class="col-md-3">
					<button type="button" class="btn btn-success" data-toggle="modal" data-target="#importResult">
						@T("Plugins.Import.ItLink.ImportButton")
					</button>

					<!-- Modal -->
					<div id="importResult" class="modal fade" role="dialog">
						<div class="modal-dialog">
							<div class="modal-content"></div>
						</div>
					</div>
				</div>
				<div class="col-md-9">
					@T("Plugins.Import.ItLink.ImportPrompt")
				</div>
			</div>
			@*}*@

		</div>
	</div>
</div>

<script>
	$(document).ready(function () {
		$('#categoriesMappingModal').on('show.bs.modal', function (event) {
			$.get('@Url.Action("CategoriesMapping", "ImportItLink")', function (data) {
					$('#categoriesMappingModal .modal-content').replaceWith(data);
				});
			});
		$('#categoriesMappingModal').on('hide.bs.modal', function (event) {
			$('#categoriesMappingModal .modal-content').hide('slow', function () { $(this).html(''); });
		});

		$('#importResult').on('show.bs.modal', function (event) {
				$.get('@Url.Action("ImportFromItLink", "ImportItLink")', function (data) {
					$('#importResult .modal-content').replaceWith(data);
				});
			});
		$('#importResult').on('hide.bs.modal', function (event) {
			$('#importResult .modal-content').hide("slow", function () { $(this).html(''); });
		});
	});
</script>


