@{
	Layout = "~/Views/Shared/_ColumnsOne.cshtml";

	//page class
	Html.AppendPageCssClassParts("html-home-page");
}
<div class="page home-page">
	<div class="page-body">
		<div class="row">
			<div class="col-md-24 pull-right nivo-slider">
				@Html.Widget("home_page_top")
				<div class="row" id="homepage-banners">
					<div class="col-md-24">
						@Html.Action("TopicBlock", "Topic", new { systemName = "NopElectro-Home-Banner-1" })
					</div>
				</div>
			</div>
			@*<div class="col-md-6 pull-left youtube-slider">
				@Html.Partial("_YouTubeSlider")
			</div>*@
		</div>

		<div class="row categories-and-home-page-text-wrapper">
			<div>
				<div class="row">
					@Html.Widget("home_page_before_categories")
				</div>
				<div class="row categories visible-xs-block">
					@Html.Action("HomepageCategories", "Catalog")
				</div>
			</div>
		</div>

		<div class="home-page-text">
			@Html.Action("TopicBlock", "Topic", new { systemName = "HomePageText" })
		</div>

		@Html.Widget("home_page_before_products")
		@Html.Action("HomepageProducts", "Product")

		@Html.Widget("home_page_before_best_sellers")
		@Html.Action("HomepageBestSellers", "Product")

		@Html.Action("HomePageManufacturers", "Home")

		@*<div class="our-features">
			@Html.Action("TopicBlock", "Topic", new { systemName = "OurFeatures" })
		</div>*@


		@Html.Widget("home_page_before_news")
		@Html.Action("HomePageNews", "News")
		@Html.Widget("home_page_before_poll")
		@Html.Action("HomePagePolls", "Poll")
		@Html.Widget("home_page_bottom")

		@Html.Action("HomePageBlogs", "Blog")
	</div>
</div>

<script type="text/javascript">

	$(window).load(function () {
		//Carousel
		$(".home-page-product-grid > .owl-carousel").owlCarousel({
			items: 6,
			itemsDesktop: [1000, 6],
			itemsDesktopSmall: [900, 4],
			itemsTablet: [600, 3],
			itemsMobile: [479, 2],
			lazyLoad: true,
			navigation: true,
			pagination: false
		});

		$(".home-page-manufacturers-grid > .owl-carousel")
			.owlCarousel({
				items: 10,
				itemsDesktop: [1000, 10],
				itemsDesktopSmall: [900, 8],
				itemsTablet: [600, 6],
				itemsMobile: [479, 3],
				lazyLoad: true,
				navigation: true,
				pagination: false
			});
	});
</script>